@font-face {
    font-family: 'Gameria';
    src: url(font/GAMERIA.ttf);
}

@font-face {
    font-family: 'mono';
    src: url(font/MONOCOQUE.ttf);
}

@font-face {
    font-family: 'nofex';
    src: url(font/Nofex.otf);
}

@font-face {
    font-family: 'pantonblack';
    src: url(font/Panton-BlackCaps.otf);
}

@font-face {
    font-family: 'pantonlightcap';
    src: url(font/Panton-LightCaps.otf);
}


.fan{
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 230px;
    right: 335px;
    left: 40px;
    font-size: 170px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: gold;
}

.img{
    size-adjust: 100px;
    border-radius: 10px;
    height: 300px;
    position: absolute;
    bottom: 60px;
    left: 105px;
    border-style: groove;
    border-color: yellow;


}

.butt{
    position: absolute;
    bottom: 60px;
    left: 105px;
    height: 300px;
    width: 600px;
    opacity: 0;
    transition: ease-in .2s;

}

.btn{
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 00px;
    left: 105px;
    width: 605px;
    height: 50px;
    border-color: yellow;
    background-color: black;
    color: white;
}

.abt{
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 15px;
    height: 60px;
    width: 100px;
    top: 23px;
    border-style: groove;
    color: white;
    border-color: yellow;
    background-color: black;

}

.sub{
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 150px;
    height: 60px;
    width: 120px;
    background-color: black;
    color: white;
    top: 24px;
    border-style: groove;
    border-color: yellow;

}

.imga{
    position: absolute;
    bottom: -340px;
    left: 105px;
    height: 300px;
    width: 600px;  
    border-radius: 10px;
    border-style: groove;
    border-color: yellow;   
 
    
}

.btnn{
    position: absolute;
    bottom: -340px;
    left: 105px;
    opacity: 0;
    height: 300px;
    width: 600px;
}

.modu{
    position: absolute;
    bottom: -400px;
    left: 105px;
    height: 50px;
    width: 605px;
    background-color: black;
    border-color: yellow;
    color: white;
}

.imgo{
    position: absolute;
    bottom: -740px;
    left: 105px;
    height: 300px;
    width: 600px;
    border-radius: 10px;
    border-style: groove;
    border-color: yellow;
}

.pc{
    position: absolute;
    bottom: -800px;
    left: 105px;
    height: 50px;
    width: 605px;
    background-color: black;
    border-color: yellow;
    color: white;
}

.imgi{
    position: absolute;
    left: 670px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-style: groove;
    border-color: yellow;
    bottom: px;
    top: 40px;

}

.oria{
    position: absolute;
    left: 443px;
    top: 2px;
    font-family: 'nofex';
    font-size: 47px;
    -webkit-text-stroke: 0.3px;
    -webkit-text-stroke-color: yellow;
}

.search{
    position: absolute;
    left: 1050px;
    top: 47px;
    width: 200px;

}

.searchbutton{
    position: absolute;
    left: 179px;
    border-style: groove;
    border-color: yellow;
    background-color: black;
    color: white
    ;
}

.mod{
    position: absolute;
    left: 80px;
    top: 2px;
    font-family: 'nofex';
    font-size: 90px;
    -webkit-text-stroke: 0.3px;
    -webkit-text-stroke-color: yellow;
}

.mod2{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 220px;
    left: 70px;

}

.modsub2{
    position: absolute;
    top: 220px;
    left: 70px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame2{
    position: absolute;
    top: 400px;
    left: 65px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 175px;
}

.mod3{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 220px;
    left: 290px;
}

.modsub3{
    position: absolute;
    top: 220px;
    left: 290px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame3{
    position: absolute;
    top: 400px;
    left: 290px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 175px;
}

.mod4{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 220px;
    left: 500px;
}

.modsub4{
    position: absolute;
    top: 220px;
    left: 500px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame4{
    position: absolute;
    top: 400px;
    left: 500px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}

.mod5{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 520px;
    left: 70px;
}

.modsub5{
    position: absolute;
    top: 520px;
    left: 70px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame5{
    position: absolute;
    top: 710px;
    left: 65px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 180px;
}

.mod6{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 520px;
    left: 290px;
}

.modsub6{
    position: absolute;
    top: 520px;
    left: 290px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame6{
    position: absolute;
    top: 710px;
    left: 290px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}

.mod7{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 520px;
    left: 499px;
}

.modsub7{
    position: absolute;
    top: 520px;
    left: 499px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame7{
    position: absolute;
    top: 710px;
    left: 499px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 180px;
}

.mod8{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 820px;
    left: 70px;
}

.modsub8{
    position: absolute;
    top: 820px;
    left: 70px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame8{
    position: absolute;
    top: 1000px;
    left: 70px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}

.mod9{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 820px;
    left: 290px;
}

.modsub9{
    position: absolute;
    top: 820px;
    left: 290px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame9{
    position: absolute;
    top: 1000px;
    left: 290px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod10{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 820px;
    left: 500px;
}

.modsub10{
    position: absolute;
    top: 820px;
    left: 500px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame10{
    position: absolute;
    top: 1000px;
    left: 500px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod11{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 1100px;
    left: 70px;
}

.modsub11{
    position: absolute;
    top: 1100px;
    left: 70px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame11{
    position: absolute;
    top: 1290px;
    left: 70px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod12{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 1100px;
    left: 290px;
}

.modsub12{
    position: absolute;
    top: 1100px;
    left: 290px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame12{
    position: absolute;
    top: 1290px;
    left: 290px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod13{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 1100px;
    left: 500px;
}

.modsub13{
    position: absolute;
    top: 1100px;
    left: 500px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame13{
    position: absolute;
    top: 1287px;
    left: 500px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod14{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 1400px;
    left: 70px;
}

.modsub14{
    position: absolute;
    top: 1400px;
    left: 70px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame14{
    position: absolute;
    top: 1590px;
    left: 70px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod15{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 1400px;
    left: 290px;
}

.modsub15{
    position: absolute;
    top: 1400px;
    left:290px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame15{
    position: absolute;
    top: 1590px;
    left: 290px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod16{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 1400px;
    left: 500px;
}

.modsub16{
    position: absolute;
    top: 1400px;
    left: 500px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame16{
    position: absolute;
    top: 1590px;
    left: 500px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod17{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 220px;
    left: 740px;
}

.modsub17{
    position: absolute;
    top: 220px;
    left: 740px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame17{
    position: absolute;
    top: 400px;
    left: 740px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.modp2{
    position: absolute;
    top: 1700px;
    left: 500px;
    height: 80px;
    width: 160px;
    border-style: groove;
    border-color: yellow;
    background-color: black;
    color: white;
}

.prep2{
    position: absolute;
    top: 1700px;
    left: 290px;
    height: 80px;
    width: 160px;
    border-style: groove;
    border-color: yellow;
    background-color: black;
    color: white;
}


.mod18{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 520px;
    left: 740px;
}

.modsub18{
    position: absolute;
    top: 520px;
    left: 740px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame18{
    position: absolute;
    top: 705px;
    left: 740px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod19{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 820px;
    left: 740px;
}

.modsub19{
    position: absolute;
    top: 820px;
    left: 740px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame19{
    position: absolute;
    top: 1000px;
    left: 740px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod20{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 1100px;
    left: 740px;
}

.modsub20{
    position: absolute;
    top: 1100px;
    left: 740px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame20{
    position: absolute;
    top: 1285px;
    left: 740px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod21{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 1400px;
    left: 740px;
}

.modsub21{
    position: absolute;
    top: 1400px;
    left: 740px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame21{
    position: absolute;
    top: 1588px;
    left: 740px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}

.mod22{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 220px;
    left: 70px;
}

.modsub22{
    position: absolute;
    top: 220px;
    left: 70px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame22{
    position: absolute;
    top: 400px;
    left: 65px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 178px;
}


.mod23{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 220px;
    left: 320px;
}

.modsub23{
    position: absolute;
    top: 220px;
    left: 320px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame23{
    position: absolute;
    top: 405px;
    left: 320px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}



.mod24{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 220px;
    left: 570px;
}

.modsub24{
    position: absolute;
    top: 220px;
    left: 570px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame24{
    position: absolute;
    top: 400px;
    left: 570px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod25{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 220px;
    left: 820px;
}

.modsub25{
    position: absolute;
    top: 220px;
    left: 820px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame25{
    position: absolute;
    top: 400px;
    left: 820px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod26{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 500px;
    left: 70px;
}

.modsub26{
    position: absolute;
    top: 500px;
    left: 70px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame26{
    position: absolute;
    top: 680px;
    left: 70px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod27{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 500px;
    left: 320px;
}

.modsub27{
    position: absolute;
    top: 500px;
    left: 320px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame27{
    position: absolute;
    top: 680px;
    left: 320px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}

.mod28{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 500px;
    left: 570px;
}

.modsub28{
    position: absolute;
    top: 500px;
    left: 570px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame28{
    position: absolute;
    top: 680px;
    left: 570px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod29{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 500px;
    left: 820px;
}

.modsub29{
    position: absolute;
    top: 500px;
    left: 820px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame29{
    position: absolute;
    top: 685px;
    left: 820px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}

.mod30{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 800px;
    left: 70px;
}

.modsub30{
    position: absolute;
    top: 800px;
    left: 70px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame30{
    position: absolute;
    top: 980px;
    left: 70px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod31{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 800px;
    left: 320px;
}

.modsub31{
    position: absolute;
    top: 800px;
    left: 320px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame31{
    position: absolute;
    top: 980px;
    left: 320px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod32{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 800px;
    left: 570px;
}

.modsub32{
    position: absolute;
    top: 800px;
    left: 570px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame32{
    position: absolute;
    top: 980px;
    left: 570px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod33{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 800px;
    left: 820px;
}

.modsub33{
    position: absolute;
    top: 800px;
    left: 820px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame33{
    position: absolute;
    top: 980px;
    left: 820px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}

.mod34{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 1100px;
    left: 70px;
}

.modsub34{
    position: absolute;
    top: 1100px;
    left: 70px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame34{
    position: absolute;
    top: 1280px;
    left: 70px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}

.mod35{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 1100px;
    left: 320px;
}

.modsub35{
    position: absolute;
    top: 1100px;
    left: 320px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame35{
    position: absolute;
    top: 1280px;
    left: 320px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod36{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 1100px;
    left: 570px;
}

.modsub36{
    position: absolute;
    top: 1100px;
    left: 570px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame36{
    position: absolute;
    top: 1280px;
    left: 570px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod37{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 1100px;
    left: 820px;
}

.modsub37{
    position: absolute;
    top: 1100px;
    left: 820px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame37{
    position: absolute;
    top: 1280px;
    left: 820px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}

.mod38{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 1400px;
    left: 70px;
}

.modsub38{
    position: absolute;
    top: 1400px;
    left: 70px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame38{
    position: absolute;
    top: 1580px;
    left: 70px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod39{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 1400px;
    left: 320px;
}

.modsub39{
    position: absolute;
    top: 1400px;
    left: 320px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame39{
    position: absolute;
    top: 1580px;
    left: 320px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}



.mod40{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 1400px;
    left: 570px;
}

.modsub40{
    position: absolute;
    top: 1400px;
    left: 570px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame40{
    position: absolute;
    top: 1580px;
    left: 570px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod41{
    position: absolute;
    width: 170px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 1400px;
    left: 820px;
}

.modsub41{
    position: absolute;
    top: 1400px;
    left: 820px;
    height: 170px;
    width: 170px;
    opacity: 0;

}

.modgame41{
    position: absolute;
    top: 1580px;
    left: 820px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 170px;
}


.mod42{
    position: absolute;
    width: 100px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 380px;
    left: 110px;
}

.modsub42{
    position: absolute;
    top: 380px;
    left: 110px;
    height: 105px;
    width: 105px;
    opacity: 0;

}

.modgame42{
    position: absolute;
    top: 490px;
    left: 108px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 109px;
}


.mod43{
    position: absolute;
    width: 100px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 380px;
    left: 250px;
}

.modsub43{
    position: absolute;
    top: 380px;
    left: 250px;
    height: 105px;
    width: 105px;
    opacity: 0;

}

.modgame43{
    position: absolute;
    top: 490px;
    left: 248px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 109px;
}

.mod44{
    position: absolute;
    width: 100px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 380px;
    left: 390px;
}

.modsub44{
    position: absolute;
    top: 380px;
    left: 390px;
    height: 105px;
    width: 105px;
    opacity: 0;

}

.modgame44{
    position: absolute;
    top: 490px;
    left: 388px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 109px;
}


.mod45{
    position: absolute;
    width: 100px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 380px;
    left: 530px;
}

.modsub45{
    position: absolute;
    top: 380px;
    left: 530px;
    height: 105px;
    width: 105px;
    opacity: 0;

}

.modgame45{
    position: absolute;
    top: 490px;
    left: 528px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 109px;
}

.mod46{
    position: absolute;
    width: 100px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 380px;
    left: 670px;
}

.modsub46{
    position: absolute;
    top: 380px;
    left: 670px;
    height: 105px;
    width: 105px;
    opacity: 0;

}

.modgame46{
    position: absolute;
    top: 490px;
    left: 668px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 109px;
}


.mod47{
    position: absolute;
    width: 100px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 380px;
    left: 810px;
}

.modsub47{
    position: absolute;
    top: 380px;
    left: 810px;
    height: 105px;
    width: 105px;
    opacity: 0;

}

.modgame47{
    position: absolute;
    top: 490px;
    left: 808px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 109px;
}


.mod48{
    position: absolute;
    width: 100px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 380px;
    left: 950px;
}

.modsub48{
    position: absolute;
    top: 380px;
    left: 950px;
    height: 105px;
    width: 105px;
    opacity: 0;

}

.modgamees48{
    position: absolute;
    top: 600px;
    left: 1020px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 109px;
}


.mod49{
    position: absolute;
    width: 100px;
    border: 2px solid yellow;
    border-radius: 10px;
    top: 380px;
    left: 1090px;
}

.modsub49{
    position: absolute;
    top: 380px;
    left: 1090px;
    height: 105px;
    width: 105px;
    opacity: 0;

}

.modgame49{
    position: absolute;
    top: 490px;
    left: 1088px;
    border-style: groove;
    border-color: yellow;
    color: white;
    background-color: black;
    width: 109px;
}




.heading{
    position: absolute;
    left: 488px;
    font-size: 90px;
    top: 1px;
    font-family: 'nofex';
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: yellow;
}

.para1{
    position: absolute;
    color: white;
    left: 540px;
}

.para2{
    position: absolute;
    color: white;
    left: 300px;
    top: 200px;
}


.heading2{
    position: absolute;
    color: black;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: yellow;
    font-size: 65px;
    font-family: nofex;
    left: 440px;
    top: 290px;

}


.para3{
    position: absolute;
    color: white;
    left: 300px;
    top: 440px;
}

.para4{
    position: absolute;
    color: white;
    left: 240px;
    top: 460px;
}


.searchbar{
    position: absolute;
    left: 1075px;
    top: 30px;
}